<div class="leftPanel">
        @* DXCOMMENT: Configure the left panel's menu *@
    @Html.DevExpress().NavBar(settings => {
    settings.Name = "LeftNavBar";
    settings.AutoCollapse = true;
    settings.EnableAnimation = true;
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.ControlStyle.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
    settings.ControlStyle.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(0);
    settings.Groups.Add(group => {
        group.Text = "基本資料";
        group.Items.Add("會計科目").NavigateUrl = "/BA01/Index";
        group.Items.Add("廠商與客戶").NavigateUrl = "/BA02/Index";
        group.Items.Add("部門").NavigateUrl="/BA03/Index";
    });
    settings.Groups.Add(group =>
    {
        group.Text = "傳票";
        group.Items.Add("新增傳票").NavigateUrl = "/TR01/Index";
        //group.Items.Add("廠商與客戶").NavigateUrl = "/BA02/Index";
        //group.Items.Add("部門").NavigateUrl = "/BA03/Index";
    });
    settings.Groups.Add(group =>
    {
        group.Text = "報表";
        group.Items.Add("日記帳").NavigateUrl = "/RP01/Index";
        group.Items.Add("試算表").NavigateUrl = "/RP02/Index";
        //group.Items.Add("廠商與客戶").NavigateUrl = "/BA02/Index";
        //group.Items.Add("部門").NavigateUrl = "/BA03/Index";
    });
}).GetHtml()
</div>