
@{
    ViewBag.Title = "試算表";
}
<script>    
    $(function () {
        if (otherHeight != undefined) {
            otherHeight = 74;
        }
    });
    function ApplyFilterlick(s, e) {
        GridView.PerformCallback();
    }
    function GridViewBegCallback(s, e) {
        GridView.callbackCustomArgs["search"] = $.extend(GridView.callbackCustomArgs["search"], MVCxClientUtils.GetSerializedEditorValuesInContainer("SearchForm", true));
    }

    function ExportClick(s, e) {
        GridView.ExportTo("Xlsx");
    }

    function BtnMonthCloseClick(s, e) {
        PopSetMonthClose.Show();
    }
    function SetRunClick() {
        var data = MVCxClientUtils.GetSerializedEditorValuesInContainer("popupForm", false);
        $.ajax({
            type: "Post",
            url: '@Url.Action("SetMonthClose", "RP02")',
            data: data,
            success: function (response) {
                if (response == '成功') {
                    PopSetMonthClose.Hide();
                    ShowSuccess();
                } else {
                    errorMassageLabel.innerText = response;
                }
            }
        });
    }
    function SetCancelClick() {
        PopSetMonthClose.Hide();
    }
</script>
<div style="margin-top:10px;margin-left:10px;margin-right:10px">
    @{
        Html.RenderPartial("_SearchForm");
    }
</div>

<div style="margin:10px;margin-bottom:0px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        Html.RenderAction("Grid");
    }
</div>