@model ALMS.ViewModels.BA04.BA04AModel
            
@Html.DevExpress().TextBoxFor(x => x.BA04A_ID, s => { s.ClientVisible = false; }).GetHtml()
@Html.DevExpress().FormLayout(settings =>
{
    FormLayoutHelper.GetBasicSetting(settings, "EditFormLayout", 3);

    settings.Items.Add(i =>
    {
        FormLayoutHelper.SetItemBasicSetting(i, "SET_NO", "帳套別代號");
        i.NestedExtension().TextBox(s =>
        {
            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            s.ShowModelErrors = true;
        });
    });

    settings.Items.Add(i =>
    {
        FormLayoutHelper.SetItemBasicSetting(i, "SET_NM", "帳套別名稱");
        i.NestedExtension().TextBox(s =>
        {
            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            s.ShowModelErrors = true;
        });
    });
    settings.Items.AddEmptyItem();

    settings.Items.Add(i =>
    {
        i.ShowCaption = DefaultBoolean.False;
        i.Width = Unit.Percentage(100);
        i.HorizontalAlign = FormLayoutHorizontalAlign.Right;
    }).SetNestedContent(() =>
    {
        ViewContext.Writer.Write("<div style='float:right;padding-right: 26px;'>");
        Html.DevExpress().Button(
            btnSettings =>
            {
                btnSettings.Name = "btnUpdate";
                DevCommonHelper.SetButtonSetting(btnSettings, BtnType.Save);
                btnSettings.ClientSideEvents.Click = "function(s, e){ GridView.UpdateEdit(); }";
            }).Render();
        Html.DevExpress().Button(
            btnSettings =>
            {
                btnSettings.Name = "btnCancel";
                DevCommonHelper.SetButtonSetting(btnSettings, BtnType.Cancel);
                btnSettings.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                btnSettings.ClientSideEvents.Click = "function(s, e){ GridView.CancelEdit(); }";
            }).Render();
        ViewContext.Writer.Write("</div>");
    });

}).Bind(Model).GetHtml()



